
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333; 
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}


.botoes {
    text-align: center;
    margin-top: 20px; }

.botoes button {
    background-color: #007BFF; 
    color: white;
    padding: 10px 20px;
    margin-right: 10px; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}


.aviso {
    color: red;
    text-align: center;
    margin-top: 10px; 
    font-weight: bold;
}
.não {
    color: crimson;
    margin-top: 30px ;
    font-weight: bold;
}body {
    background-image: url('lego-background.jpg'); /* Substitua 'lego-background.jpg' pelo caminho real da sua imagem */
    background-repeat: repeat; /* Repetir a imagem para preencher o fundo */
    background-size: auto; /* Manter o tamanho original da imagem */
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0; /* Remova margens para um layout mais limpo */
    padding: 0; /* Remova preenchimento para um layout mais limpo */
}

header {
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2 ,p {
    color: #007BFF; /* Cor azul para cabeçalhos */
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    text-align: center;
    padding: 10px;
}
